#header {
    background-color: #7A9BD1;
}

#footer {
    background-color: #5276BA;
}

button {
    background-color: #5276BA;
    color: white;
    padding: 0.2em;
    border-radius: 2em;
}

button:hover {
    background-color: #243B60;
}

button a {
    padding: 0.5em;
}

table {
    padding: 1em;
}

td p, th p {
    padding: 0 0.3em;
}

i {
    padding: 0.3em;
}

li {
    display: inline;
}

input, select {
    border: #5276BA solid;
    padding: 0.2em;
}

input[type=submit] {
    color: white;
    background-color: #5276BA;
    border: 0;
    border-radius: 2em;
}

input[type=submit]:hover {
    background-color: #243B60;
}

h1 {
    font-weight: bold;
    font-size: 1em;
}